<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs", {title: post.title})  %> 
<body>
<%- include("../partials/navbar.ejs")  %> 

<section class="container mt-5 pt-5">
    <div class="card">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted"><%= post.createdAt.toString() %> </h6>
          <h5 class="card-title"> <%= post.owner.username %> </h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= post.title %> </h6>
          
          <p class="card-text"><%= post.body %>.</p>

          <% if (user) { %>
            <% if (post.owner._id == user._id) { %>
             <a href="/editpost/<%= post.id %> " class="card-link text-warning">Edit</a>
            <a href="/deletepost/<%= post.id %> " class="card-link text-danger">Delete</a>
          <% } %>
          <% } %>
         
          
        
        </div>
    </div>
 </section>
<hr>

<section class="container mt-5">
  <% if (user) { %>
    <form action="/<%= post.id %>/addcomment " method="post">
      <textarea name="body" id="" cols="10" rows="2"></textarea> <br>
      <button class="btn btn-dark" type="submit">Add</button>
  </form>
  <% } %>
  <h1>comments (<%= post.comments.length %>)</h1>

<% if (post.comments.length) { %>
 <% post.comments.forEach(comment => { %>
  <div class="card mt-5 mb-5" style="width: 18rem;">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted"><%= comment.createdAt.toString() %> </h6>
      <h5 class="card-title"><%= comment.owner.username %>  </h5>
   
      <p class="card-text"><%= comment.body %> </p>
      <% if (user) { %>
       <% if (comment.owner._id == user._id) { %>
        <a href="/<%= post.id %>/deletecomment/<%= comment.id %>" class="card-link text-danger">Delete</a>
        
       <% } %>
      <% } %>
      
    
    
    </div>
  </div>
 <% }) %>

<% } %>


</section> 
    
</body>
</html>